{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}


{% block body %}

{% include '_components/_returnButton.html.twig' %}

<div class="flex flex-col m-auto place-items-center space-y-6">

    <!-- Section Affichage Articles -->

    <div class="w-3/4 bg-customRed shadow-md rounded-md flex flex-col m-auto place-items-center mt-6 p-4">
        <p class="text-3xl font-semibold font-oxanium text-customWhite ">Mon panier</p>
    </div>

    <div class="flex flex-col place-items-center space-y-4 w-3/4 m-auto">
        
        {% for item in cartItems %}
            <!-- Liste des articles -->
            <div class=" bg-customRed shadow-md rounded-lg p-4 text-customWhite font-oxanium">
                <img src="{{ item.id_article.image }}" alt="{{ item.id_article.name }}" class="w-full h-40 object-cover rounded-md">
                <div class="flex flex-col space-y-1">
                    <p class="text-xl font-bold mt-2">{{ item.id_article.name }}</p>
                    <p class="text-sm">{{ item.id_article.description }}</p>
                    <p class="text-lg text-semibold">{{ item.id_article.price }} €</p>
                </div>
                <div class="flex flex-row space-x-2 place-items-center">
                    <p class="text-customWhite text-lg">Dans le panier: {1}</p>
                    <form><input type="submit" class="text-customWhite bg-bodyColor rounded-md w-[32px] h-[32px] text-3xl" value="+"></form>
                    <form><input type="submit" class="text-customWhite bg-bodyColor rounded-md w-[32px] h-[32px] text-3xl" value="-"></form>
                </div>
                <div class="flex flex-col place-items-center w-3/4 m-auto space-y-2 mt-2">
                    <a href="{{ path('app_article_detail', { 'id': item.id_article.id }) }}"
                        class="inline-block bg-bodyColor text-customWhite font-semibold text-center px-4 py-2 rounded hover:bg-[#494949] transition duration-150 w-full">
                        Voir le produit
                    </a>
                    <a href="{{ path('app_cart_remove', { 'id': item.getIdArticle().getId() }) }}"
                        class="inline-block bg-customWhite text-customRed font-semibold text-center px-4 py-2 rounded hover:bg-red-700 transition duration-150 w-full">
                        Retirer du panier
                    </a>
                </div>
            </div>
            
    

        {% else %}
            <p class="text-lg text-center text-customWhite font-oxanium">Votre panier est vide</p>
            <a href="{{ path('app_home') }}" class="text-lg text-center text-customWhite underline font-oxanium"><p>Commencez vos achats</p></a>
        {% endfor %}

    </div>  
</div>
{% endblock %}