{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block body %}
<div class="max-w-3xl mx-auto p-6">
    <div class="bg-customRed shadow-md rounded-md p-6 font-oxanium">
        <img src="{{ article.image }}" alt="{{ article.name }}" class="w-full h-60 object-cover rounded-md">
        <h1 class="text-customWhite text-2xl font-bold mt-4">{{ article.name }}</h1>
        <p class="text-customWhite mt-2">{{ article.description }}</p>
        <p class="text-customWhite font-bold text-xl mt-4">{{ article.price }} €</p>

        {# Récupération du stock #}
        {% set stock = article.stocks|first %}
        <p class="text-customWhite font-semibold mt-2">
            {% if stock and stock.quantity > 0 %}
                Stock disponible : {{ stock.quantity }}
            {% else %}
                En rupture de stock
            {% endif %}
        </p>

        <a href="{{ path('app_home') }}" 
           class="mt-4 inline-block bg-bodyColor text-customWhite px-4 py-2 rounded hover:bg-gray-700 transition">
            Retour à la boutique
        </a>

        {# Check de la quantité disponible dans le stock #}
        {% if stock and stock.quantity > 0 %}
            <a href="{{ path('app_cart_add', { 'id': article.id }) }}"
               class="mt-4 inline-block bg-[#187e19] text-customWhite px-4 py-2 rounded hover:bg-green-700 transition">
                Ajouter au panier
            </a>
        {% else %}
            <button class="mt-4 inline-block bg-bodyColor text-customWhite px-4 py-2 rounded cursor-not-allowed" disabled>
                Rupture de stock
            </button>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <form action="{{ path('app_article_delete', { 'id': article.id }) }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                <button type="submit" class="bg-bodyColor mt-4 inline-block text-customWhite px-4 py-2 rounded hover:bg-gray-700 transition">Supprimer</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
